@font-face {
  font-family: 'FreightSans Pro';
  src: url("./freight-sans-pro/FreightSansMedium.otf") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Menlo';
  src: url("./menlo/Menlo-Regular.woff") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreightSans Pro';
  src: url("./freight-sans-pro/FreightSansBold.otf") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreightSans Pro';
  src: url("./freight-sans-pro/FreightSansBook.otf") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreightSans Pro';
  src: url("./freight-sans-pro/FreightSansLight.otf") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreightSans Pro';
  src: url("./freight-sans-pro/FreightSansMedium.otf") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
